
        table, td {padding: 10px;}
        table {border-spacing: 10px; background-color: #f5f5f5;}
        input.button-function {color: white; background-color: black;}
        button {color: white; background-color: black;}

