
table, td {padding: 10px;}
table {border-spacing: 10px; background-color: #fff7fa;}
button {color: #df2161; border-color: #df2161; background-color: white; border-radius: 2px; .button: hover;}
input {color: #df2161}
select {width: 350px;margin: 10px;}
img {
    width: 80%;
    height: auto;
}

.header img {
    float: left;
    width: 50px;
    height: 50px;
    background: none
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}